<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="realsense_d435">

<xacro:macro name="realsense_d435" params=" description_pkg:='realsense_d435_description' connected_to:='' ns:='' origin_rpy:='0 0 0' origin_xyz:='0 0 0' ">
	
	<xacro:unless value="${connected_to == ''}">
	  <joint name="${ns}_joint_${connected_to}" type="fixed">
		  <parent link="${connected_to}"/>
		  <child link="${ns}_link"/>
		  <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
	  </joint>
  </xacro:unless>

  <!-- Used for fixing robot to Gazebo ground in case the robot is not connected to any other component -->
  <xacro:if value="${connected_to == ''}">
	  <link name="world"/>
	  <joint name="fix_to_world" type="fixed">
		  <parent link="world"/>
		  <child link="${ns}_link"/>
		  <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
	  </joint>
  </xacro:if>
  
  <!-- camera main link -->
  <link name="${ns}_link">
	  <pose frame="">0 0 0 0 0 0</pose>	
    <inertial>
      <mass value="0.0615752"/>
      <inertia ixx="9.108e-05" ixy="0" ixz="0" iyy="2.51e-06" iyz="0" izz="8.931e-05"/>
    </inertial>
    
    <self_collide>0</self_collide>
    <enable_wind>0</enable_wind>
    <kinematic>0</kinematic>
    <gravity>1</gravity>
    
    <visual>
      <geometry>
        <mesh filename="package://${description_pkg}/model/meshes/d435.stl"/>
      </geometry>
    </visual>
    
    <collision>
      <laser_retro>0</laser_retro>
      <max_contacts>10</max_contacts>
      <geometry>
        <mesh filename="package://${description_pkg}/model/meshes/d435.stl"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>1</mu>
            <mu2>1</mu2>
            <fdir1>0 0 0</fdir1>
            <slip1>0</slip1>
            <slip2>0</slip2>
          </ode>
          <torsional>
            <coefficient>1</coefficient>
            <patch_radius>0</patch_radius>
            <surface_radius>0</surface_radius>
            <use_patch_radius>1</use_patch_radius>
            <ode>
              <slip>0</slip>
            </ode>
          </torsional>
        </friction>
        <bounce>
          <restitution_coefficient>0</restitution_coefficient>
          <threshold>1e+06</threshold>
        </bounce>
        <contact>
          <collide_without_contact>0</collide_without_contact>
          <collide_without_contact_bitmask>1</collide_without_contact_bitmask>
          <collide_bitmask>1</collide_bitmask>
          <ode>
            <soft_cfm>0</soft_cfm>
            <soft_erp>0.2</soft_erp>
            <kp>1e+13</kp>
            <kd>1</kd>
            <max_vel>0.01</max_vel>
            <min_depth>0</min_depth>
          </ode>
          <bullet>
            <split_impulse>1</split_impulse>
            <split_impulse_penetration_threshold>-0.01</split_impulse_penetration_threshold>
            <soft_cfm>0</soft_cfm>
            <soft_erp>0.2</soft_erp>
            <kp>1e+13</kp>
            <kd>1</kd>
          </bullet>
        </contact>
      </surface>
    </collision>
  </link>
  <gazebo reference="${ns}_link"><material>Gazebo/BlueGlow</material></gazebo>
    
    
  <!-- Virtual links representing the cameras positons and orientations-->
  <link name="${ns}_depth" />
  
  
  <!-- Joints positioning the virtual links with respect to the camera main link-->
  <joint name="${ns}_depth_joint" type="fixed">
    <parent link="${ns}_link" />
    <child link="${ns}_depth" />
    <origin xyz="0 -0.0115 0" rpy="0 0 0"/>
  </joint>
    
    
  <gazebo reference="${ns}_link">
    <self_collide>0</self_collide>
    <enable_wind>0</enable_wind>
    <kinematic>0</kinematic>
    <gravity>1</gravity>
    <mu2>1</mu2>
    <fdir1>0 0 0</fdir1>
    <kp>1e+13</kp>
    <kd>1</kd>
      
    
    <sensor name="${ns}_realsense_depth" type="depth">
      <pose frame="">0 -0.0115 0 0 0 0</pose>
      <update_rate>20</update_rate>
      <camera name="__default__">
        <!-- <horizontal_fov>1.047</horizontal_fov> -->
        <horizontal_fov>1.623</horizontal_fov> <!-- 93 degrees -->
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>3</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      
      <plugin name="${ns}_controller" filename="libgazebo_ros_openni_kinect.so">
				<baseline>0.2</baseline>
				<alwaysOn>true</alwaysOn>
				<updateRate>1.0</updateRate>
				<cameraName>${ns}_ir</cameraName>
				<imageTopicName>/${ns}/color/image_raw</imageTopicName>
				<cameraInfoTopicName>/${ns}/color/camera_info</cameraInfoTopicName>
				<depthImageTopicName>/${ns}/depth/image_raw</depthImageTopicName>
				<depthImageInfoTopicName>/${ns}/depth/camera_info</depthImageInfoTopicName>
				<pointCloudTopicName>/${ns}/depth/points</pointCloudTopicName>
				<frameName>${ns}_frame</frameName>
				<pointCloudCutoff>0.5</pointCloudCutoff>
				<pointCloudCutoffMax>3.0</pointCloudCutoffMax>
				<distortionK1>0.00000001</distortionK1>
				<distortionK2>0.00000001</distortionK2>
				<distortionK3>0.00000001</distortionK3>
				<distortionT1>0.00000001</distortionT1>
				<distortionT2>0.00000001</distortionT2>
				<CxPrime>0</CxPrime>
				<Cx>0</Cx>
				<Cy>0</Cy>
				<focalLength>0</focalLength>
				<hackBaseline>0</hackBaseline>
			</plugin>
      
    </sensor>
  </gazebo>
  
</xacro:macro>
</robot>
