<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="realsense_d435">
  <xacro:include filename="$(find realsense_d435_description)/model/realsense_d435.xacro"/>
  <xacro:realsense_d435 connected_to="" ns="real_sense1" origin_rpy="0 0 0" origin_xyz="0 0 0.1" />
  
  <gazebo>
    <!-- <plugin name="RealSenseCamRosPlugin" filename="libRealSenseCamRosPlugin.so"> </plugin> -->
    <plugin name="RealSenseCamRosPlugin" filename="RealSensePlugin.so">  </plugin>
  </gazebo>
  
</robot>
