<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_gripper">
  
  <!-- for .dae files visualization problem in Gazebo8 -->
  <transparent opaque="RGB_ZERO"> <color>1 1 1 1</color> </transparent> <transparency><float>1</float></transparency>
  
  <xacro:include filename="$(find franka_panda_gripper_description)/model/panda_gripper_gazebo.xacro"/>
  <xacro:panda_gripper ns="panda_arm" xyz="0 0 0.1" />
</robot>
