<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="master_cell">
  
  <xacro:property name="cell_name" value="master_cell" />
  <xacro:property name="robot_arm1" value="panda1" />
  <xacro:property name="robot_arm2" value="panda2" />
  
  <!-- for .dae files visualization problem in Gazebo8 -->
  <transparent opaque="RGB_ZERO"> <color>1 1 1 1</color> </transparent> <transparency><float>1</float></transparency>
  
  <!-- Workcell frame model -->
  <xacro:include filename="$(find urdf_models)/models/workcell_frame/workcell_frame.xacro"/>
  <xacro:workcell_frame connected_to="" ns="${cell_name}" xyz="0 0 0.07" rpy="0 0 0" />
  
  <!-- Franka-Panda arm model -->
  <xacro:include filename="$(find franka_panda_arm_description)/model/panda_arm_gazebo.xacro" />
  <xacro:panda_arm connected_to='${cell_name}_workcell_assembly' arm_id="${robot_arm1}" xyz="1.42 0.188 0.916" rpy="0 0 ${pi/2}" />
  <xacro:panda_arm connected_to='${cell_name}_workcell_assembly' arm_id="${robot_arm2}" xyz="0.62 0.188 0.916" rpy="0 0 ${pi/2}" />
  
  <!-- Franka-Panda arm to Allegro hand connection -->
  <xacro:include filename="$(find urdf_models)/models/panda_allegro_connection/panda_allegro_connection.xacro"/>
  <xacro:panda_allegro_connection connected_to="${robot_arm1}_link7" ns="${robot_arm1}" xyz="0 0 0.107" rpy="0 0 0" />
  <xacro:panda_allegro_connection connected_to="${robot_arm2}_link7" ns="${robot_arm2}" xyz="0 0 0.107" rpy="0 0 0" />
  
  <!-- Allegro right hand model -->
  <xacro:include filename="$(find allegro_right_hand_description)/model/allegro_right_hand.xacro"/>
  <!-- 0.0091=(-0.0113+0.0204) : -0.0113 to put the allegro hand Palm frame at zero position then add 0.0.0204(40.8mm/2) to put the same frame at center of panda-allegro-connection  -->
  <xacro:allegro_right_hand ns="${robot_arm1}" x="-0.0091" y="0" z="0.02" roll="0" pitch="0" yaw="${pi}" connected_to="${robot_arm1}_panda_allegro_connection" />
  
  <!-- ReadSense-d435 depth camera -->
  <xacro:include filename="$(find realsense_d435_description)/model/realsense_d435.xacro"/>
  <xacro:realsense_d435 connected_to="${robot_arm1}_panda_allegro_connection" ns="${robot_arm1}" origin_rpy="0 ${-pi/2} 0" origin_xyz="-0.0673 0 -0.02" />
  <xacro:realsense_d435 connected_to="${robot_arm2}_panda_allegro_connection" ns="${robot_arm2}" origin_rpy="0 ${-pi/2} 0" origin_xyz="-0.0673 0 -0.02" />
  <gazebo>
    <plugin name="RealSenseCamRosPlugin" filename="libRealSenseCamRosPlugin.so"> </plugin>
  </gazebo>
  
  <!-- Kinect v2 depth camera -->
  <xacro:include filename="$(find kinect2_description)/urdf/kinect2/kinect2.xacro"/>
  <kinect2_sensor parent="${cell_name}_workcell_assembly" prefix="" name="kinect2" cam_px="1.53" cam_py="0.567" cam_pz="2.188" cam_or="${pi/2}" cam_op="${pi/2}" cam_oy="0"/>

  <gazebo>
    <plugin name="generic_interface_plugin" filename="libgeneric_interface_plugin.so">
    	<joint1_init> 0.00 </joint1_init>
    	<joint2_init> -1.57</joint2_init>
    	<joint3_init> 0.00 </joint3_init>
    	<joint4_init> -1.57</joint4_init>
    	<joint5_init> 0.00 </joint5_init>
    	<joint6_init> 1.57 </joint6_init>
    	<joint7_init> 0.70 </joint7_init>
    	<joint8_init> 0.000</joint8_init>
    	<joint9_init> 0.500</joint9_init>
    	<joint10_init>0.500</joint10_init>
    	<joint11_init>0.500</joint11_init>
    	<joint12_init>0.000</joint12_init>
    	<joint13_init>0.100</joint13_init>
    	<joint14_init>0.100</joint14_init>
    	<joint15_init>0.100</joint15_init>
    	<joint16_init>0.000</joint16_init>
    	<joint17_init>0.10 </joint17_init>
    	<joint18_init>0.10 </joint18_init>
    	<joint19_init>0.10 </joint19_init>
    	<joint20_init>0.30 </joint20_init>
    	<joint21_init>0.70 </joint21_init>
    	<joint22_init>0.70 </joint22_init>
    	<joint23_init>0.30 </joint23_init>
    	<joint24_init>0.00 </joint24_init>
    	<joint25_init>-1.57</joint25_init>
    	<joint26_init>0.00 </joint26_init>
    	<joint27_init>-1.57</joint27_init>
    	<joint28_init>0.00 </joint28_init>
    	<joint29_init>1.57 </joint29_init>
    	<joint30_init>0.70 </joint30_init>
    	
    	<joint1_velocity_limit>1.0 </joint1_velocity_limit>
    	<joint2_velocity_limit>1.0 </joint2_velocity_limit>
    	<joint3_velocity_limit>1.0 </joint3_velocity_limit>
    	<joint4_velocity_limit>1.0 </joint4_velocity_limit>
    	<joint5_velocity_limit>1.0 </joint5_velocity_limit>
    	<joint6_velocity_limit>1.0 </joint6_velocity_limit>
    	<joint7_velocity_limit>1.0 </joint7_velocity_limit>
    	<joint8_velocity_limit>1.0 </joint8_velocity_limit>
    	<joint9_velocity_limit>1.0 </joint9_velocity_limit>
    	<joint10_velocity_limit>1.0 </joint10_velocity_limit>
    	<joint11_velocity_limit>1.0 </joint11_velocity_limit>
    	<joint12_velocity_limit>1.0 </joint12_velocity_limit>
    	<joint13_velocity_limit>1.0 </joint13_velocity_limit>
    	<joint14_velocity_limit>1.0 </joint14_velocity_limit>
    	<joint15_velocity_limit>1.0 </joint15_velocity_limit>
    	<joint16_velocity_limit>1.0 </joint16_velocity_limit>
    	<joint17_velocity_limit>1.0 </joint17_velocity_limit>
    	<joint18_velocity_limit>1.0 </joint18_velocity_limit>
    	<joint19_velocity_limit>1.0 </joint19_velocity_limit>
    	<joint20_velocity_limit>1.0 </joint20_velocity_limit>
    	<joint21_velocity_limit>1.0 </joint21_velocity_limit>
    	<joint22_velocity_limit>1.0 </joint22_velocity_limit>
    	<joint23_velocity_limit>1.0 </joint23_velocity_limit>
    </plugin>
  </gazebo>
  
</robot>
