<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_arm_plus_own_gripper">
  
  <!-- for .dae files visualization problem in Gazebo8 -->
  <transparent opaque="RGB_ZERO"> <color>1 1 1 1</color> </transparent> <transparency><float>1</float></transparency>
  
  <xacro:include filename="$(find franka_panda_arm_description)/model/panda_arm_gazebo.xacro" />
  <xacro:include filename="$(find franka_panda_gripper_description)/model/panda_gripper_gazebo.xacro"/>
  <xacro:panda_arm arm_id="panda_arm" xyz="0.62 0.138 0.986" rpy="0 0 ${pi/2}" />
  <!-- <xacro:panda_arm xyz="0 0 0" rpy="0 0 ${-pi/2}" /> -->
  <!-- <xacro:panda_gripper ns="panda_arm_gripper" rpy="0 0 ${-pi/4}" connected_to="panda_arm_link8"/> -->
  <xacro:panda_gripper ns="gripper" rpy="0 0 ${-pi/4}" connected_to="panda_arm_link8"/>
  
  
  <!-- attach the custom make gazebo plugin "franka_panda_control_plugin" -->
  <!-- <gazebo>
    <plugin name="franka_panda_arm_plus_own_gripper_control_plugin" filename="libfranka_panda_arm_plus_own_gripper_control_plugin.so">
    	<arm_joint1_init>0.00</arm_joint1_init>
    	<arm_joint2_init>-1.57</arm_joint2_init>
    	<arm_joint3_init>0.00</arm_joint3_init>
    	<arm_joint4_init>-1.57</arm_joint4_init>
    	<arm_joint5_init>0.00</arm_joint5_init>
    	<arm_joint6_init>0.00</arm_joint6_init>
    	<arm_joint7_init>0.70</arm_joint7_init>
    	<gripper_joint1_init>0.00</gripper_joint1_init>
    	<gripper_joint2_init>0.00</gripper_joint2_init>
    </plugin>
  </gazebo> -->
  
  
  <gazebo>
    <plugin name="generic_interface_plugin" filename="libgeneric_interface_plugin.so">
    	<joint1_init>0.00</joint1_init>
    	<joint2_init>-1.57</joint2_init>
    	<joint3_init>0.00</joint3_init>
    	<joint4_init>-1.57</joint4_init>
    	<joint5_init>0.00</joint5_init>
    	<joint6_init>0.00</joint6_init>
    	<joint7_init>0.70</joint7_init>
    	<joint8_init>0.00</joint8_init>
    	<joint9_init>0.00</joint9_init>
    	
    	<joint1_velocity_limit>3.00</joint1_velocity_limit>
    	<joint2_velocity_limit>3.00</joint2_velocity_limit>
    	<joint3_velocity_limit>3.00</joint3_velocity_limit>
    	<joint4_velocity_limit>3.00</joint4_velocity_limit>
    	<joint5_velocity_limit>3.00</joint5_velocity_limit>
    	<joint6_velocity_limit>3.00</joint6_velocity_limit>
    	<joint7_velocity_limit>3.00</joint7_velocity_limit>
    	<joint8_velocity_limit>3.00</joint8_velocity_limit>
    	<joint9_velocity_limit>3.00</joint9_velocity_limit>
    </plugin>
  </gazebo>

</robot>
