<?xml version="1.0" ?>
<launch>
	<!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="verbose" 			default="true" />
  <arg name="paused" 				default="true"/>
  <arg name="use_sim_time" 	default="true"/>
  <arg name="gui" 					default="true"/>
  <arg name="headless" 			default="false"/>
  <arg name="debug" 				default="false"/>
  
  <arg name="hand_name" 			value="allegro_right_hand" />
  
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find allegro_right_hand_description)/model/allegro_right_hand.urdf.xacro" />
  
  <!-- Set up env variable so plugin are found -->
  <env name="GAZEBO_PLUGIN_PATH" value="/home/work/code_repository/gazebo_plugins/generic_interface_plugin/build"/>
  <env name="GAZEBO_MODEL_PATH" value="/home/work/code_repository/gazebo_models"/>
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model $(arg hand_name) -param robot_description"/>
	
	<node name="allegro_right_hand_finger_workspace" type="allegro_right_hand_finger_workspace" pkg="allegro_right_hand_control_gazebo" output="screen" args="1 $(arg hand_name)"/>
	
	<!-- Launch empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  	<arg name="verbose" 			value="$(arg verbose)" />
    <arg name="debug" 				value="$(arg debug)" />
    <arg name="gui" 					value="$(arg gui)" />
    <arg name="paused" 				value="$(arg paused)"/>
    <arg name="use_sim_time" 	value="$(arg use_sim_time)"/>
    <arg name="headless" 			value="$(arg headless)"/>
  </include>
  
  <!-- How to use example: -->
  <!-- >>roslaunch allegro_right_hand_control_gazebo allegro_hand_right_controller.launch /-->

</launch>
