<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_right_hand_description">
  
  <xacro:include filename="$(find allegro_right_hand_description)/model/allegro_right_hand_description.xacro" />
  
  <!-- attach the custom make gazebo plugin "allegro_right_hand_control_plugin" -->
  <gazebo>
    <plugin name="allegro_right_hand_control_plugin" filename="liballegro_right_hand_control_plugin.so">
    	<index_joint1_init>0.00</index_joint1_init>
    	<index_joint2_init>0.00</index_joint2_init>
    	<index_joint3_init>0.00</index_joint3_init>
    	<index_joint4_init>0.00</index_joint4_init>
    	<middle_joint1_init>0.00</middle_joint1_init>
    	<middle_joint2_init>0.00</middle_joint2_init>
    	<middle_joint3_init>0.00</middle_joint3_init>
    	<middle_joint4_init>0.00</middle_joint4_init>
    	<pinky_joint1_init>0.00</pinky_joint1_init>
    	<pinky_joint2_init>0.00</pinky_joint2_init>
    	<pinky_joint3_init>0.00</pinky_joint3_init>
    	<pinky_joint4_init>0.00</pinky_joint4_init>
    	<thumb_joint1_init>-0.027</thumb_joint1_init>
    	<thumb_joint2_init>0.00</thumb_joint2_init>
    	<thumb_joint3_init>0.77</thumb_joint3_init>
    	<thumb_joint4_init>0.77</thumb_joint4_init>
    </plugin>
  </gazebo>

</robot>
