<?xml version='1.0'?>

<model>
  <name>workcell-assembly-v2</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>
  
  <author>
    <name>mohamed sorour</name>
    <email>msorour@lincoln.ac.uk</email>
  </author>

  <description>
    Workcell for Master Slave System Version 2.0
  </description>
</model>
